@model Url
@{
    ViewData["Title"] = "Shorten URL";
    var shorturl = ViewData["ShortenedUrl"];
}

<h1>Create</h1>

<h4>UrlShorten</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="OriginalLink" class="control-label">Your Link</label>
                <input asp-for="OriginalLink" class="form-control" />
                <span asp-validation-for="OriginalLink" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input asp-for="ShortLink" class="form-control" value="@shorturl" type="hidden"/>
            </div>


            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
